<section id="hero" class="hero" style="background-image:url(assets/images/merc.jpg); background-position:center center; background-repeat: no-repeat; background-size: cover;">
  <div class="mask"></div>
  <div class="container">
    <div class="hero__content text-center">
      <h5>GET TO KNOW MORE</h5>
      <h1 class="mx-auto">About Us</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
      </nav>
    </div>
  </div>
</section>
<section id="about__us">
  <div class="container">

  </div>
</section>

